<p id="notice"><%= notice %></p>

<h1>Glossary</h1>

<ul class="alphabet">
  <li class="alphabet_letter"><a>A</a></li>
  <li class="alphabet_letter"><a>B</a></li>
  <li class="alphabet_letter"><a>C</a></li>
  <li class="alphabet_letter"><a>D</a></li>
  <li class="alphabet_letter"><a>E</a></li>
  <li class="alphabet_letter"><a>F</a></li>
  <li class="alphabet_letter"><a>G</a></li>
  <li class="alphabet_letter"><a>H</a></li>
  <li class="alphabet_letter"><a>I</a></li>
  <li class="alphabet_letter"><a>J</a></li>
  <li class="alphabet_letter"><a>K</a></li>
  <li class="alphabet_letter"><a>L</a></li>
  <li class="alphabet_letter"><a>M</a></li>
  <li class="alphabet_letter"><a>N</a></li>
  <li class="alphabet_letter"><a>O</a></li>
  <li class="alphabet_letter"><a>P</a></li>
  <li class="alphabet_letter"><a>Q</a></li>
  <li class="alphabet_letter"><a>R</a></li>
  <li class="alphabet_letter"><a>S</a></li>
  <li class="alphabet_letter"><a>T</a></li>
  <li class="alphabet_letter"><a>U</a></li>
  <li class="alphabet_letter"><a>V</a></li>
  <li class="alphabet_letter"><a>X</a></li>
  <li class="alphabet_letter"><a>Y</a></li>
  <li class="alphabet_letter"><a>Z</a></li>
</ul>

<br>

<%= render 'title' %>

<%= render 'description' %>

<%= render 'glossary_scripts' %>
